dontaudit adbd shell:process noatsecure;
dontaudit dumpstate procrank:process noatsecure;
dontaudit dumpstate su:process noatsecure;
dontaudit dumpstate vdc:process noatsecure;
dontaudit init adbd:process noatsecure;
dontaudit init bluetooth_loader:process noatsecure;
dontaudit init bootanim:process noatsecure;
dontaudit init bridge:process noatsecure;
dontaudit init camera:process noatsecure;
dontaudit init debuggerd:process noatsecure;
dontaudit init dhcp:process noatsecure;
dontaudit init drmserver:process noatsecure;
dontaudit init dumpstate:process noatsecure;
dontaudit init fingerprintd:process noatsecure;
dontaudit init fsck:process noatsecure;
dontaudit init gatekeeperd:process noatsecure;
dontaudit init gpsd:process noatsecure;
dontaudit init hci_attach:process noatsecure;
dontaudit init healthd:process noatsecure;
dontaudit init inputflinger:process noatsecure;
dontaudit init install_recovery:process noatsecure;
dontaudit init installd:process noatsecure;
dontaudit init irsc_util:process noatsecure;
dontaudit init keystore:process noatsecure;
dontaudit init lmkd:process noatsecure;
dontaudit init logd:process noatsecure;
dontaudit init mdnsd:process noatsecure;
dontaudit init mediaserver:process noatsecure;
dontaudit init mpdecision:process noatsecure;
dontaudit init mtp:process noatsecure;
dontaudit init netd:process noatsecure;
dontaudit init netmgrd:process noatsecure;
dontaudit init perfprofd:process noatsecure;
dontaudit init qmux:process noatsecure;
dontaudit init racoon:process noatsecure;
dontaudit init rild:process noatsecure;
dontaudit init rmt:process noatsecure;
dontaudit init sensors:process noatsecure;
dontaudit init servicemanager:process noatsecure;
dontaudit init shell:process noatsecure;
dontaudit init slideshow:process noatsecure;
dontaudit init ssr:process noatsecure;
dontaudit init surfaceflinger:process noatsecure;
dontaudit init tee:process noatsecure;
dontaudit init thermald:process noatsecure;
dontaudit init time:process noatsecure;
dontaudit init toolbox:process noatsecure;
dontaudit init tzdatacheck:process noatsecure;
dontaudit init ueventd:process noatsecure;
dontaudit init uncrypt:process noatsecure;
dontaudit init vdc:process noatsecure;
dontaudit init vold:process noatsecure;
dontaudit init vss:process noatsecure;
dontaudit init watchdogd:process noatsecure;
dontaudit init wpa:process noatsecure;
dontaudit init zygote:process noatsecure;
dontaudit installd dex2oat:process noatsecure;
dontaudit kernel init:process noatsecure;
dontaudit kernel kernel:security setenforce;
dontaudit mpdecision mpdecision:capability fsetid;
dontaudit mtp ppp:process noatsecure;
dontaudit netd clatd:process noatsecure;
dontaudit netd dhcp:process noatsecure;
dontaudit netd dnsmasq:process noatsecure;
dontaudit netd hostapd:process noatsecure;
dontaudit netd netd:capability fsetid;
dontaudit netmgrd netmgrd:capability sys_module;
dontaudit runas runas:capability dac_override;
dontaudit sensors sensors:capability fsetid;
dontaudit shell procrank:process noatsecure;
dontaudit shell runas:process noatsecure;
dontaudit shell su:process noatsecure;
dontaudit su dev_type:blk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su dev_type:chr_file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su dev_type:dir { rename lock quotaon remove_name open append create write relabelfrom getattr rmdir read search mounton ioctl link unlink swapon add_name execute setattr audit_access reparent relabelto execmod };
dontaudit su dev_type:fifo_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su dev_type:file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su dev_type:lnk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su dev_type:sock_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su domain:appletalk_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:binder { call impersonate set_context_mgr transfer };
dontaudit su domain:debuggerd { dump_backtrace dump_tombstone };
dontaudit su domain:dir { rename lock quotaon remove_name open append create write relabelfrom getattr rmdir read search mounton ioctl link unlink swapon add_name execute setattr audit_access reparent relabelto execmod };
dontaudit su domain:drmservice { consumeRights openDecryptSession decrypt setPlaybackStatus finalizeDecryptUnit initializeDecryptUnit pread closeDecryptSession };
dontaudit su domain:fd use;
dontaudit su domain:fifo_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su domain:file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su domain:ipc { unix_read setattr associate read create write getattr unix_write destroy };
dontaudit su domain:key { search setattr read create write link view };
dontaudit su domain:key_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:lnk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su domain:msgq { unix_read setattr associate read create write enqueue getattr unix_write destroy };
dontaudit su domain:netlink_audit_socket { nlmsg_tty_audit nlmsg_write lock accept connect shutdown append nlmsg_relay create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind nlmsg_readpriv recvfrom sendto relabelto };
dontaudit su domain:netlink_dnrt_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_firewall_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_ip6fw_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_kobject_uevent_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_nflog_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_route_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_selinux_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_tcpdiag_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:netlink_xfrm_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:packet_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:peer recv;
dontaudit su domain:process { sigkill share getpgid signull setkeycreate siginh getattr setcurrent setrlimit rlimitinh fork getsession setexec setpgid setsched sigstop ptrace noatsecure setsockcreate setfscreate execheap sigchld execstack signal transition setcap execmem getcap getsched dyntransition };
dontaudit su domain:rawip_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su domain:sem { unix_read setattr associate read create write getattr unix_write destroy };
dontaudit su domain:shm { unix_read setattr associate read lock create write getattr unix_write destroy };
dontaudit su domain:socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:tcp_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind name_connect send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su domain:tun_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read attach_queue ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:udp_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su domain:unix_dgram_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su domain:unix_stream_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su dumpstate:process noatsecure;
dontaudit su file_type:blk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su file_type:chr_file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su file_type:dir { rename lock quotaon remove_name open append create write relabelfrom getattr rmdir read search mounton ioctl link unlink swapon add_name execute setattr audit_access reparent relabelto execmod };
dontaudit su file_type:fifo_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su file_type:file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su file_type:lnk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su file_type:sock_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su fs_type:blk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su fs_type:chr_file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su fs_type:dir { rename lock quotaon remove_name open append create write relabelfrom getattr rmdir read search mounton ioctl link unlink swapon add_name execute setattr audit_access reparent relabelto execmod };
dontaudit su fs_type:fifo_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su fs_type:file { rename lock quotaon execute_no_trans open append create write relabelfrom getattr entrypoint read mounton ioctl link unlink swapon execute setattr audit_access relabelto execmod };
dontaudit su fs_type:filesystem { unmount associate relabelfrom mount transition remount getattr quotaget relabelto quotamod };
dontaudit su fs_type:lnk_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su fs_type:sock_file { rename open execute execmod setattr read lock create quotaon getattr mounton write relabelfrom ioctl link relabelto unlink swapon audit_access append };
dontaudit su kernel:security { setcheckreqprot read_policy check_context compute_member compute_user setsecparam setenforce compute_relabel compute_av setbool compute_create load_policy };
dontaudit su kernel:system { module_request syslog_read syslog_console syslog_mod ipc_info };
dontaudit su keystore:keystore_key { reset insert clear_uid get lock grant list is_empty verify sign unlock exist add_auth get_state user_changed password duplicate delete };
dontaudit su netif_type:netif { ingress dccp_recv udp_recv dccp_send rawip_send egress udp_send tcp_recv tcp_send rawip_recv };
dontaudit su node_type:node { enforce_dest dccp_recv udp_recv dccp_send recvfrom rawip_send udp_send sendto tcp_recv tcp_send rawip_recv };
dontaudit su node_type:rawip_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su node_type:tcp_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind name_connect send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su node_type:udp_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su port_type:appletalk_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:dccp_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind name_connect send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su port_type:key_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_audit_socket { nlmsg_tty_audit nlmsg_write lock accept connect shutdown append nlmsg_relay create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind nlmsg_readpriv recvfrom sendto relabelto };
dontaudit su port_type:netlink_dnrt_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_firewall_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_ip6fw_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_kobject_uevent_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_nflog_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_route_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_selinux_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_tcpdiag_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:netlink_xfrm_socket { nlmsg_write lock accept connect shutdown append create nlmsg_read write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:packet_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:rawip_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su port_type:socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:tcp_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind name_connect send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su port_type:tun_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read attach_queue ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:udp_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto node_bind };
dontaudit su port_type:unix_dgram_socket { lock accept connect shutdown append create write relabelfrom getattr getopt listen setopt read ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su port_type:unix_stream_socket { lock accept connect shutdown append connectto create write relabelfrom getattr getopt listen acceptfrom setopt read newconn ioctl recv_msg name_bind send_msg setattr bind recvfrom sendto relabelto };
dontaudit su property_type:property_service set;
dontaudit su service_manager_type:service_manager { add list find };
dontaudit su su:capability { setuid setfcap sys_chroot net_bind_service sys_nice mknod fsetid kill net_admin sys_rawio audit_control sys_pacct sys_resource sys_ptrace dac_read_search sys_boot sys_admin audit_write net_raw setgid sys_time lease dac_override net_broadcast linux_immutable fowner sys_tty_config setpcap sys_module ipc_lock chown ipc_owner };
dontaudit su su:capability2 { mac_override mac_admin block_suspend wake_alarm syslog };
dontaudit su su:memprotect mmap_zero;
dontaudit su unlabeled:filesystem { unmount associate relabelfrom mount transition remount getattr quotaget relabelto quotamod };
dontaudit system_server system_server:capability sys_ptrace;
dontaudit untrusted_app exec_type:file getattr;
dontaudit vold blkid:process noatsecure;
dontaudit vold blkid_untrusted:process noatsecure;
dontaudit vold fsck:process noatsecure;
dontaudit vold fsck_untrusted:process noatsecure;
dontaudit vold sdcardd:process noatsecure;
dontaudit vold sgdisk:process noatsecure;
dontaudit zygote zygote:capability fsetid;
