typeattribute rootfs fs_type;
typeattribute device dev_type;
typeattribute device fs_type;
typeattribute block_device dev_type;
typeattribute nfc_data_file file_type;
typeattribute nfc_data_file data_file_type;
typeattribute radio_data_file file_type;
typeattribute radio_data_file data_file_type;
typeattribute radio_data_file mlstrustedobject;

#some type may be changed, how to find the new type?
typeattribute alarm_device mlstrustedobject;
#typeattribute anr_data_file mlstrustedobject;
typeattribute apk_private_tmp_file mlstrustedobject;
typeattribute apk_tmp_file mlstrustedobject;
typeattribute asec_apk_file mlstrustedobject;
typeattribute ashmem_device mlstrustedobject;
#typeattribute backup_data_file mlstrustedobject;
typeattribute binder_device mlstrustedobject;
#typeattribute cache_backup_file mlstrustedobject;
typeattribute cache_file mlstrustedobject;
typeattribute cgroup mlstrustedobject;
#typeattribute dalvikcache_profiles_data_file mlstrustedobject;
typeattribute debugfs mlstrustedobject;
typeattribute devpts mlstrustedobject;
typeattribute diag_device mlstrustedobject;
#typeattribute diag_logs mlstrustedobject;
#typeattribute dnsproxyd_socket mlstrustedobject;
typeattribute fuse mlstrustedobject;
#typeattribute fwmarkd_socket mlstrustedobject;
typeattribute gpu_device mlstrustedobject;
#typeattribute heapdump_data_file mlstrustedobject;
typeattribute inotify mlstrustedobject;
typeattribute ion_device mlstrustedobject;
#typeattribute log_device mlstrustedobject;
#typeattribute logd_socket mlstrustedobject;
#typeattribute logdr_socket mlstrustedobject;
typeattribute logdw_socket mlstrustedobject;
#typeattribute mdnsd_socket mlstrustedobject;
typeattribute media_rw_data_file mlstrustedobject;
typeattribute mtp_device mlstrustedobject;
typeattribute null_device mlstrustedobject;
typeattribute owntty_device mlstrustedobject;
#typeattribute perfprofd_data_file mlstrustedobject;
typeattribute pmsg_device mlstrustedobject;
typeattribute ptmx_device mlstrustedobject;
typeattribute qtaguid_proc mlstrustedobject;
#typeattribute radio_data_file mlstrustedobject;
typeattribute random_device mlstrustedobject;
typeattribute selinuxfs mlstrustedobject;
typeattribute shell_data_file mlstrustedobject;
typeattribute sysfs mlstrustedobject;
typeattribute sysfs_bluetooth_writable mlstrustedobject;
typeattribute sysfs_nfc_power_writable mlstrustedobject;
typeattribute sysfs_writable mlstrustedobject;
typeattribute system_app_data_file mlstrustedobject;
#typeattribute tun_device mlstrustedobject;
typeattribute urandom_device mlstrustedobject;
typeattribute usb_device mlstrustedobject;
#typeattribute usbaccessory_device mlstrustedobject;
typeattribute vfat mlstrustedobject;
typeattribute wallpaper_file mlstrustedobject;
typeattribute zero_device mlstrustedobject;
